.today {
    border: 1px solid red;
}

.main {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(8,60px);
    column-gap: 6px;
    row-gap: 6px;
}
.weakElement {
    border: 2px solid darkslategrey;
    border-radius: 2px;
    width: 48px;
}
.weakElement span {
    font-family: monospace;
}