
.number {
    padding: 4px;
}

.dayOfTheWeek {

}

.amount {
    font-family: monospace;

}
.workDay {
    color: darkgreen;
}
.vacationDay {
    color: gray;
}

.dayElement {
    border: 2px solid darkslategrey;
    border-radius: 2px;
    width: 52px;
    font-family: monospace;
}

.dayElement input {
    font-family: monospace;
    box-sizing: border-box;
    width: 100%;
}